header{
    position: relative;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
   float: right;
    list-style: 20px;
    justify-content: end;
    text-wrap: nowrap;
}

header ul.nav li{
    display: inline;
    margin-left: 10px;
    cursor: pointer;
    list-style: none;
    transition: opacity 500ms ease;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .presentation{
    margin: 50px 0;
    background: url("https://sun9-50.userapi.com/NFq5C5Cc_WXuQtdEgDFKKoJLQIoZM6qPS0mvMg/snbElwP4h-M.jpg") no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #7b7979;
    position: relative;
}

header .presentation::after{
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 100px;
    left: 5%;
    width: 30%;
    font-size: 40px;
    font-weight: 600;
    color: rgba(240, 248, 255, 0.7);
    text-align: start;
}

header .presentation::before{
    content: 'по низким ценам';
    position: absolute;
    top: 200px;
    left: 5%;
    width: 20%;
    font-size: 15px;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.7);
    text-align: start;
}

.shop-card-bootom{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-right: 10px;
}

.shop-card-bootom:hover,.shop-card-bootom.active {
    color: rgb(101, 164, 8);
    transform: scale(1.5);
}

header .shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background-color: white;
    z-index: 1000;
    -webkit-box-shadow:9px -3px 28px 2px rgba(102, 102, 102, 1);
    box-shadow:  9px -3px 28px 2px rgba(102, 102, 102, 1);
}