* {
  margin: 0;
  padding: 0;
}

body{
    background: rgb(245, 244, 244);
    color: rgb(70, 70, 70);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.wrapper{
  max-width: 1280px;
  margin: 50px auto;
}